<h3>here are your results:</h3>

<h4>You scored:</h4>
<ul>
  <li>Result: <%= @user_stat[:message] %></li>
  <li>Time spent to find the word: <%= @user_stat[:time] %></li>
  <li>Your final score: <%= @user_stat[:score] %></li>
</ul>

